﻿@model  Event.Application.Features.Images.Queries.GetImagesDetails.GetImagesDetailsViewModel


@{
    ViewData["Title"] = "Edit";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">تعديل</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="UpdateImage" asp-controller="Images" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="AlbumId" />
                <input type="hidden" asp-for="Image" />

                 <div class="form-group">
                    <label asp-for="Image" class="control-label">صورة القديمة</label>
                    <div class="col-md-10">
                        <img src="@Event.Application.Common.PathUrl.DashBordUrl.baseUrlHost@Model.Image" style="width:100px; height:100px; " />
                    </div>
                </div>
             
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label">صورة جديدة</label>
                    <input asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="حفظ" class="btn-new-style btn-rounded" />
                </div>

                <div>
                    <a asp-action="GetListImages"  asp-route-id="@Model.AlbumId" class="btn-black">العودة الى الرئيسية</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
