﻿@model Event.Application.Features.Album.Commands.CreateAlbum.CreateAlbumCommand
@{
    ViewData["Title"] = "Create";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">اضافة البوم</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="CreateAlbum" asp-controller="Album">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <input hidden asp-for="EventId" value="@ViewBag.EventId" class="form-control" />
                </div>   
                <div class="form-group">
                    <label asp-for="Title" class="control-label">العنوان</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <input type="submit" value="اضافة" class="btn-new-style btn-rounded" />
                </div>

                <div>
                    <a asp-action="GetListAlbums" asp-route-id="@ViewBag.EventId" class="btn-black">العودة الى الرئيسية</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
